/* --------------------------------------------------
HOME
-------------------------------------------------- */
section#home {
   --bg-url: url("../../public/images/private-tours/home.jpg");
   --bg-filter: brightness(0.6);
   min-height: 40svh;
   justify-content: center;
   align-items: flex-start;

   .page-title {
      font-size: 1rem;
      color: var(--clr-f-100);

      h2 {
         font-weight: 100;
         margin-bottom: 1ch;
      }

      h1 {
         font-size: 3.5em;
         font-family: 'AbhayaLibre';
      }
   }
}

.private-tours-container {
   text-align: justify;
   text-align-last: center;

   .section-title {
      h2 {
         color: var(--clr-green-dkr);
      }
   }
}
.private-tours-type {
   font-size: 1rem;
   display: flex;
   gap: 2ch;
   text-align: justify;

   .col {
      padding: 2ch;
      color: var(--clr-f-100);

      h3 {
         font-family: 'AbhayaLibre';
         font-size: 2em;
      }
   }
   .col:nth-of-type(1) {
      background-color: var(--clr-green);
   }
   .col:nth-of-type(2) {
      background-color: var(--clr-green-dkr);
   }
}

section#get-started {
   --bg-url: url("../../public/images/private-tours/get-started.jpg");
   --bg-filter: brightness(0.7);
   --bg-position: 0% 40%;

   .section-title {
      h2 {
         color: var(--clr-f-100);
      }
   }
}